#glasses{
  position: absolute;
  top: 130px;
  left: 285px;
}

#hat{
  position: absolute;
  top: -90px;
  left: 235px;

}

#octopus{
  margin: auto;
  margin-top: 100px;
  display: block;
  width: 36%;
}

div{
  position: relative;
}